/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family:'Poppins','sans-serif' ;
}
html{
    font-size: 62.5%;


}
body{
    width: 100%;
    height: 100vh;
    overflow-x:hidden;
    background-color: aqua;
    color: white;
}
header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    color: rgb(172, 45, 45);
    font-weight: 800;
    cursor:pointer ;
    transition: 0.5s ease;
    border-bottom: 3px solid transparent;
}
nav a:hover,
nav a:active{
    color: rgb(194, 4, 4);
    border-bottom: 3px solid rgb(170, 60, 60);
}
@media(max-width:995){
    nav{
        position: relative;
        top: 0;
        right: 0;
        width: 40px;
        border-left: 3px solid rgb(170, 60, 60);
        border-bottom: 3px solid 3px solid rgb(170, 60, 60);
        border-top-left-radius: 3px solid rgb(170, 60, 60);
        padding: 1rem solid;
        background-color: rgb(53, 50, 50);
        border-top: 0.1rem solid rgb(53, 50, 50);

    }
    nav.active{
        display: block;
    }
    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    nav a:hover,
    nav a.active{
        padding: 1rem ;
        border-radius: 0.5rem ;
        border-bottom: 0.5rem solid rgb(170, 60, 60);
    }
}
section{
    min-height: 100vh;
    padding: 5rem 9% 5rem ;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}
.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}
span{
  color:  rgb(170, 60, 60);

}
.home-content h3{
    border-radius: 50%;
    font-size: 4rem;
    margin-top: 1rem;
    font-weight: 700;
}
.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px salmon;
    cursor: pointer;
    transition: 0.2s linear;
}
.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}
.social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: 0.2rem solid rgb(170, 60, 60);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem;
    transition: 0.3s ease;
    color-scheme: rgb(170, 60, 60);
}
.social-icon a:hover{
    color: black;
    text-transform: scal(1,3) ;
    background-color:rgb(170, 60, 60) ;
    box-shadow: 0 0 25px;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: red;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid rgb(170, 60, 60);
    transition: 0.3s ease;
    cursor: pointer;
}
.btn:hover{
    transform: scale3d(1.03);
    background-color: rgb(170, 60, 60);
    color: black;
    box-shadow:0 0 25px rgb(170, 60, 60) ;
}
.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.typing-text span{
    position: relative;
}
.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100%+8px);
    height: 100%;
    border-left: 3px solid rgb(170, 60, 60);
    right: -8;
    animation: cursor 0.6s infinite;
}
@keyframes cursor{
    to{
        border-left: 3px solid rgb(170, 60, 60);

    }
}
@keyframes words{
    0%,20%{
        content:"Wen Developer";
    }
    21%,40%{
        content: "Sotware Developer";
    }
    
    41%,60%{
        content: "Web Design";
    }
    
    61%,80%{
        content: "Script Writter";
    }
    
    81%,100%{
        content: "Graphic Designer";
    }

}
@media(max-width:100px){
    .home{
        gap: 4rem;
    }


}
.home{
    flex-direction: column;
    margin: 5rem 4rem;

}
.home.home-content h3{
    font-size: 2.5rem;
}
.home-content h1{
    font-size: 5rem;
}
.home-img.img{
    margin-top: 4rem;
}
 */
